<div>
    <h1>Productos:</h1>

    <ul>
        {{#each products}}
        <li>
            <p><b>{{title}}</b></p>
            <p>Id: {{id}}</p>
            <p>Precio: ${{price}}</p>
            <p>Code: {{code}}</p>
            <p>Descripción: {{description}}</p>
            <p>Stock: {{stock}}</p>
            <p>Categoría: {{category}}</p>
        </li>
        {{/each}}
    </ul>

</div>